---
/**
 * Three-card sidebar shown on all content pages.
 * Centralised here so any text/link change only needs one edit.
 */
---
<div id="left">
  <div class="box" id="box_1">
    <h4><a href="kontakt.html">Kontakt</a></h4>
    <p>Holzhaus 8 &bull; 94244 Geiersthal<br />
    Telefon: 09923/ 1366<br />
    Telefax: 09923/ 3158<br />
    E-Mail: <span class="email-cloak" data-user="info" data-domain="raith-holzbau.de"></span></p>
    <a class="readmore" href="kontakt.html">Weiterlesen ...</a>
  </div>
  <div class="box" id="box_2">
    <h4><a href="galerie.html">Galerie</a></h4>
    <p>Machen Sie sich einen Eindruck von unserer Arbeit, Bildern von unseren Baustellen
    und von uns gebauten Wohnhaus-Träumen.</p>
    <a class="readmore" href="galerie.html">Weiterlesen ...</a>
  </div>
  <div class="box" id="box_3">
    <h4><a href="leistungen.html">Leistungen</a></h4>
    <p>Lernen Sie unser breit gefächertes Leistungsspektrum kennen: Holz ist unsere
    Leidenschaft... davon können Sie sich überzeugen!</p>
    <a class="readmore" href="leistungen.html">Weiterlesen ...</a>
  </div>
</div>
