---
import ContentPage from '../layouts/ContentPage.astro';
---
<ContentPage title="Lohnabbund" activeNav="dachsanierung">
  <p>Wir erstellen nicht nur Neue Dachstühle, sondern bieten auch die Sanierung bestehender
  Dachstühle oder Dachumdeckungen mit unserem Komplett-Service an:</p>
  <ul>
    <li>Gerüstbau</li>
    <li>Abbrucharbeiten</li>
    <li>Zimmererarbeiten</li>
    <li>Dachdeckerarbeiten</li>
    <li>Spenglerarbeiten</li>
    <li>Holzschutz und Schädlings-Bekämpfung</li>
    <li>Asbesthaltige Welleternitplatten</li>
  </ul>
  <p>Selbstverständlich ist auch der sachgemäße Abbau und die Entsorgung von Asbest nach
  TRGS 519 kein Problem. Unser qualifiziertes Personal führt auch diese Arbeiten äußerst
  sorgfältig und gewissenhaft durch.</p>
</ContentPage>
