---
import ContentPage from '../layouts/ContentPage.astro';
import GallerySection from '../components/GallerySection.astro';
import 'glightbox/dist/css/glightbox.css';
---
<ContentPage title="Galerie" activeNav="galerie">
  <div id="galerie">
    <GallerySection
      heading="Terrasse im Vorher-Nachher-Vergleich"
      caption='Bestand: alte Terasse aus kesseldruckimprägniertem Fichtenholz, nach 8 Jahren
               ein Fall für den Komposthaufen. Wurde ersetzt durch feingewachsene sibirische
               Lärche. <a href="http://www.falter-holz.de/">www.falter-holz.de</a>'
      galleryGroup="terrasse"
      images={[
        { src: 'images/galerie/terrasse01.jpg', alt: 'Terrasse – Vorher 1' },
        { src: 'images/galerie/terrasse02.jpg', alt: 'Terrasse – Vorher 2' },
        { src: 'images/galerie/terrasse03.jpg', alt: 'Terrasse – Nachher 1' },
        { src: 'images/galerie/terrasse04.jpg', alt: 'Terrasse – Nachher 2' },
        { src: 'images/galerie/terrasse05.jpg', alt: 'Terrasse – Nachher 3' },
      ]}
    />

    <GallerySection
      heading="Holz-Beton-Verbundsystem SFS"
      caption="Sichtholz-Balkenlage im Holz-Beton-Verbundsystem SFS für hervorragenden Schallschutz"
      galleryGroup="balkenlage"
      images={[
        { src: 'images/galerie/balkenlage01.jpg', alt: 'Balkenlage 1' },
        { src: 'images/galerie/balkenlage02.jpg', alt: 'Balkenlage 2' },
        { src: 'images/galerie/balkenlage03.jpg', alt: 'Balkenlage 3' },
        { src: 'images/galerie/balkenlage04.jpg', alt: 'Balkenlage 4' },
        { src: 'images/galerie/balkenlage05.jpg', alt: 'Balkenlage 5' },
        { src: 'images/galerie/balkenlage06.jpg', alt: 'Balkenlage 6' },
      ]}
    />

    <GallerySection
      heading="Carports"
      caption="Freistehende Carports aus widerstandsfähigem Tannenholz zur Aufnahme einer Photovoltaik-Anlage vorbereitet"
      galleryGroup="carports"
      images={[
        { src: 'images/galerie/carport01.jpg', alt: 'Carport 1' },
        { src: 'images/galerie/carport02.jpg', alt: 'Carport 2' },
        { src: 'images/galerie/carport03.jpg', alt: 'Carport 3' },
        { src: 'images/galerie/carport04.jpg', alt: 'Carport 4' },
      ]}
    />

    <GallerySection
      heading="Verkleidungen"
      caption="Verkleidung eines Pufferspeichers aus Lärche, die Tür in der Front ist kaum sichtbar"
      galleryGroup="verkleidungen"
      images={[
        { src: 'images/galerie/verkleidung01.jpg', alt: 'Verkleidung 1' },
        { src: 'images/galerie/verkleidung02.jpg', alt: 'Verkleidung 2' },
      ]}
    />
  </div>
</ContentPage>

<script>
  import GLightbox from 'glightbox';

  GLightbox({
    touchNavigation: true,
    loop: false,
    autoplayVideos: false,
    closeButton: true,
  });
</script>
