---
import ContentPage from '../layouts/ContentPage.astro';
---
<ContentPage title="Impressum" activeNav="impressum">
  <div class="legal-block">
    <p>Raith Holzbau GmbH &amp; Co. KG <br />Holzhaus 8 <br />94244 Geiersthal</p>
    <p>Telefon: 09923/ 1366 <br />Fax: 09923/ 3158 <br />
    E-Mail: <span class="email-cloak" data-user="info" data-domain="raith-holzbau.de"></span></p>
    <p>Registergericht Amtsgericht Deggendorf HRA 1962</p>
    <p>UmsatzsteuerIDNr: DE235558007</p>
    <p>persönlich haftende Gesellschafterin<br />
    Xaver Raith Verwaltungs-GmbH <br />Holzhaus 8 <br />94244 Geiersthal</p>
    <p>vertretungsberechtigter Geschäftsführer: Franz Raith jun.</p>
    <p>Die Europäische Kommission stellt eine Plattform für die außergerichtliche
    Online-Streitbeilegung (OS-Plattform) bereit, die unter
    <a href="https://ec.europa.eu/odr" target="_blank" rel="alternate">https://ec.europa.eu/odr</a>
    aufrufbar ist. Unsere E-Mail-Adresse lautet
    <a href="mailto:info@raith-holzbau.de">info@raith-holzbau.de</a>.<br />
    Wir nehmen nicht an einem Streitbeilegungsverfahren vor einer
    Verbraucherschlichtungsstelle teil.</p>
  </div>
</ContentPage>
