---
import Base from '../layouts/Base.astro';
---
<Base title="Raith Holzbau" activeNav="home">
  <div id="boxnavi">
    <div class="box" id="box_1">
      <h4><a href="kontakt.html">Kontakt</a></h4>
      <p>Holzhaus 8 &bull; 94244 Geiersthal<br />
      Telefon: 09923/ 1366<br />
      Telefax: 09923/ 3158<br />
      E-Mail: <span class="email-cloak" data-user="info" data-domain="raith-holzbau.de"></span></p>
      <a class="readmore" href="kontakt.html">Weiterlesen ...</a>
    </div>
    <div class="box" id="box_2">
      <h4><a href="galerie.html">Galerie</a></h4>
      <p>Machen Sie sich einen Eindruck von unserer Arbeit, Bildern von unseren Baustellen
      und von uns gebauten Wohnhaus-Träumen.</p>
      <a class="readmore" href="galerie.html">Weiterlesen ...</a>
    </div>
    <div class="box" id="box_3">
      <h4><a href="leistungen.html">Leistungen</a></h4>
      <p>Lernen Sie unser breit gefächertes Leistungsspektrum kennen: Holz ist unsere
      Leidenschaft... davon können Sie sich überzeugen!</p>
      <a class="readmore" href="leistungen.html">Weiterlesen ...</a>
    </div>
  </div>

  <div id="content_home">
    <div class="page-header">
      <h1>Raith Holzbau</h1>
    </div>
    <div>
      <div id="home_left">
        Wir sind ein moderner, mittelständischer Familienbetrieb mit einem Vierteljahrhundert
        Erfahrung im Holzbau. Holz aus heimischen Wäldern ist der Hauptwerkstoff, mit dem wir
        arbeiten. Er ist solide, umweltfreundlich, wertbeständig und seit Generationen bewährt.
        <br />
        Holz ist ein nachwachsender Rohstoff mit viel Atmosphäre und vielseitigen
        Gestaltungsmöglichkeiten. Bereits der Großvater des jetzigen Firmeninhabers Xaver Raith
        wurde mit dem goldenen Meisterbrief geehrt. Sein Sohn, Herr Xaver Raith aus Reilwies,
        der das Handwerk von Ihm erlernte, übergab sein Wissen weiter an seinen Sohn. Zur
        Firmengründung kam es jedoch erst 1976 auf drängen von seinem Vater. In den nächsten
        Jahren entstand in Holzhaus bei Geiersthal, wohin er eingeheiratet hat, ein ansehnlicher
        Betrieb mit bis zu 14 Mitarbeitern.
      </div>
      <div id="home_right">
        1998 absolvierte sein Sohn Franz Raith, in vierter Generation als Zimmerer tätig, die
        Meisterprüfung vor dem Meisterprüfungsausschuss in Regensburg und arbeitet seitdem im
        Büro sowie auch auf der Baustelle mit. Unser Leistungsangebot umfaßt Häuser in
        Holzrahmenbauweise, Dachstühle, Anbauten, Umbauten, Aufstockungen, Fassadenverkleidungen,
        Garagen, Balkone, Nagelbinderhallen, Dachsanierungen, Schneefangsysteme,
        Dachbegehungssysteme, Eindeckungen in Ziegel, Beton und Blech - kurzum fast alles, was
        man aus Holz bauen kann und was mit dem Dach zu tun hat.
        <p>Als neueste Dienstleistung wurde der Verkauf und die Montage von Solarsystemen in
        das Program aufgenommen</p>
      </div>
    </div>
  </div>
</Base>
