---
import ContentPage from '../layouts/ContentPage.astro';
---
<ContentPage title="Kontakt" activeNav="kontakt">
  <h2>Raith Holzbau GmbH &amp; CO. KG</h2>
  <div class="contact-info">
    <p>Holzhaus 8<br />94244 Geiersthal</p>
    <p>Telefon: 099231366<br />Telefax: 099233158</p>
    <p>E-Mail: <span class="email-cloak" data-user="info" data-domain="raith-holzbau.de"></span></p>
  </div>
</ContentPage>
