---
import ContentPage from '../layouts/ContentPage.astro';
---
<ContentPage title="Leistungen" activeNav="leistungen">
  <h2>Lernen Sie unser Leistungsspektrum kennen:</h2>
  <ul>
    <li>Errichten von Dachstühlen jeder Größe und jeden Schwierigkeitsgrades</li>
    <li>Einbau von Dachgauben und Quergiebeln</li>
    <li>Sanierung von bestehenden Dächern mit und ohne zusätzliche Wärmedämmung</li>
    <li>Sanierung und Entsorgung von Asbestzementhaltigen Welleternit-Dächern</li>
    <li>Wohnhäuser, Aufstockungen und Anbauten in Holzrahmen-Bauweise</li>
    <li>Dacheindeckungen mit Ziegeln, Betondachsteinen, Profilblechbahnen und
        schieferbeschichteten Bitumenschweißbahnen</li>
    <li><strong>auch eine Ausführung mit bauseits gestelltem Holz ist möglich!</strong></li>
    <li>Fassadenschalungen</li>
    <li>Herstellung und Montage von Balkonen</li>
    <li>Dachgeschoß-Innenausbau</li>
    <li>Schneefangsysteme</li>
    <li>Dachbegehungssysteme</li>
    <li>Verkauf und Einbau von Dachfenstern</li>
    <li>Kranverleih</li>
    <li>Indach PV Anlage</li>
    <li>Errichten von Nagelbinderhallen</li>
    <li>Wärmedämmungen mit ökologischen Dämmstoffen</li>
    <li>Lichtkuppeln für den privaten und gewerblichen Bereich</li>
  </ul>
</ContentPage>
