---
import ContentPage from '../layouts/ContentPage.astro';
---
<ContentPage title="Über uns" activeNav="ueber-uns">
  <h2>Der Werkstoff Holz</h2>
  <p>Wir sind ein moderner, mittelständischer Familienbetrieb mit einem Vierteljahrhundert
  Erfahrung im Holzbau. Holz aus heimischen Wäldern ist der Hauptwerkstoff, mit dem wir
  arbeiten. Er ist solide, umweltfreundlich, wertbeständig und seit Generationen bewährt.
  Holz ist ein nachwachsender Rohstoff mit viel Atmosphäre und vielseitigen
  Gestaltungsmöglichkeiten.</p>

  <h2>Unser Werdegang</h2>
  <p>Bereits der Großvater des jetzigen Firmeninhabers Xaver Raith wurde mit dem goldenen
  Meisterbrief geehrt. Sein Sohn, Herr Xaver Raith aus Reilwies, der das Handwerk von Ihm
  erlernte, übergab sein Wissen weiter an seinen Sohn. Zur Firmengründung kam es jedoch erst
  1976 auf drängen von seinem Vater. In den nächsten Jahren entstand in Holzhaus bei Geiersthal,
  wohin er eingeheiratet hat, ein ansehnlicher Betrieb mit bis zu 14 Mitarbeitern.</p>

  <h2>Der Betrieb heute</h2>
  <p>1998 absolvierte sein Sohn Franz Raith, in vierter Generation als Zimmerer tätig, die
  Meisterprüfung vor dem Meisterprüfungsausschuss in Regensburg und arbeitet seitdem im Büro
  sowie auch auf der Baustelle mit. Unser Leistungsangebot umfaßt Häuser in
  Holzrahmenbauweise, Dachstühle, Anbauten, Umbauten, Aufstockungen, Fassadenverkleidungen,
  Garagen, Balkone, Nagelbinderhallen, Dachsanierungen, Schneefangsysteme,
  Dachbegehungssysteme, Eindeckungen in Ziegel, Beton und Blech - kurzum fast alles, was man
  aus Holz bauen kann und was mit dem Dach zu tun hat.</p>
  <p>Als neueste Dienstleistung wurde der Verkauf und die Montage von Solarsystemen in das
  Program aufgenommen</p>

  <h2>ETERNIT Qualitätssiegel</h2>
  <a href="http://www.eternit.de/" target="_blank">
    <img src="images/eternit.png" alt="Eternit Qualitätssiegel"
         style="float: right; margin-left: 35px;" />
  </a>
  <p>Unser Betrieb erfüllt die Eternit Qualitätsanforderungen für die Verarbeitung von Eternit
  Produkten für Dach und Fassade.<br />
  <a href="http://www.eternit.de/" target="_blank">Zur Webiste unseres Partners</a></p>
</ContentPage>
