---
import ContentPage from '../layouts/ContentPage.astro';
---
<ContentPage title="Zimmerei" activeNav="zimmerei">
  <p>Auf den folgenden Seiten können Sie sich ein umfangreiches Bild von unseren Produkten,
  unserem Leistungsangebot und uns als Ihr zuverlässiger Holzbau-Partner machen.</p>

  <h3>Bauen mit Holz hat in der Familie Raith eine lange Tradition.</h3>
  <p>Schon der Großvater des heutigen Firmeninhabers, Xaver Raith, hat sich um 1900 mit der
  Zimmermannskunst intensiv beschäftigt.<br />
  Dessen Sohn, Xaver Raith sen., ergriff ebenfalls den Beruf des Zimmerers. Ab 1950 machte er
  sich als fleißiger Geselle einen Namen in und um Wiesing bei Viechtach.<br />
  Er war es auch, der seinen Sohn und jetzigen Firmeninhaber Xaver Raith dazu ermutigte, sich
  selbstständig zu machen.</p>

  <p>Xaver Raith gründete 1976 nach 6-jähriger Lehr- und Gesellenzeit seine eigene Firma in
  Holzhaus bei Geiersthal, wo sie bis heute besteht.<br />
  Sein Sohn, Franz Raith, hat 1992 ebenfalls eine Lehre als Zimmerer begonnen und 1998 seine
  Meisterprüfung mit hervorragender Leistung bestanden. Er ist seitdem als 2. Führungskraft in
  den Betrieb eingebunden; ein richtiger Familienbetrieb in der 4. Generation also.</p>

  <h3>Ausbildung, Weiterentwicklung und Innovation</h3>
  <p>Seit der Betriebsgründung im Jahr 1976, wir feierten also 2001 das 25-Jährige
  Firmenjubiläum, hat sich der Einmannbetrieb kontinuierlich weiterentwickelt.<br />
  Wir beschäftigen in unserem Unternehmen je nach Auftragslage zwischen 12 und 16 Mitarbeiter.
  Selbstverständlich bilden wir auch Lehrlinge aus. Unser Betriebsgelände hat eine Größe von
  fast 5000 m² erreicht, unsere Produktions- und Lagerhallen eine Fläche von knapp 3500 m².</p>

  <h3>Unser Ziel: Ihre Zufriedenheit</h3>
  <p>Unsere Ziele sind: beste Qualität und Beratung, sowie die uneingeschränkte Zufriedenheit
  unserer Kunden.<br />
  Dafür sorgen der Firmeninhaber und seine bestens geschulte Mannschaft.</p>

  <h3>Unser Leistungsspektrum:</h3>
  <ul>
    <li>Errichten von Dachstühlen jeder Größe und jeden Schwierigkeitsgrades</li>
    <li>Einbau von Dachgauben und Quergiebeln</li>
    <li>Sanierung von bestehenden Dächern mit und ohne zusätzliche Wärmedämmung</li>
    <li>Sanierung und Entsorgung von Asbestzementhaltigen Welleternit-Dächern</li>
    <li>Wohnhäuser, Aufstockungen und Anbauten in Holzrahmen-Bauweise</li>
    <li>Dacheindeckungen mit Ziegeln, Betondachsteinen, Profilblechbahnen und
        schieferbeschichteten Bitumenschweißbahnen</li>
    <li>Fassadenschalungen</li>
    <li>Herstellung und Montage von Balkonen</li>
    <li>Dachgeschoß-Innenausbau</li>
    <li>Schneefangsysteme</li>
    <li>Dachbegehungssysteme</li>
    <li>Verkauf und Einbau von Dachfenstern</li>
    <li>Kranverleih</li>
    <li>Solarsysteme</li>
    <li>Errichten von Nagelbinderhallen</li>
    <li>Wärmedämmungen mit ökologischen Dämmstoffen</li>
    <li>Lichtkuppeln für den privaten und gewerblichen Bereich</li>
  </ul>

  <p><strong>Wir hoffen, unser Leistungsumfang entspricht Ihren Wünschen und freuen uns auf
  ein persönliches Kennenlernen.</strong></p>
</ContentPage>
